extends layout/main

block content
    #biler-single-react
block scripts
    script.
        var bilen = {
            id: '#{bil.id}',
            make: '#{bil.make}',
            model: '#{bil.model}',
            year: '#{bil.year}',
            category: '#{bil.category}',
            color: '#{bil.color}',
            km: '#{bil.km}',
            motor: '#{bil.motor}',
            bhp: '#{bil.bhp}',
            seats: '#{bil.seats}',
            poslat: '#{bil.poslat}',
            poslng: '#{bil.poslng}',
            status: '#{bil.status}',
            imglg: '#{bil.imglg}',
            imgsm: '#{bil.imgsm}',
            price: '#{bil.price}',
        }
        console.log(bilen)
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcrViFlK4vqX3TUprSRVDgtI9eM7jHLKE")

    script(src='/assets/scripts/bundle.js')

block variables
    - var tittel = bil.make + ' ' +bil.model + ' | Bilklubben - Revolusjonerende'